h1,h2{
	text-align: center;
}

body{
	margin: 0;

}
*{
	box-sizing: border-box;
}

.titleText{
	text-align: center;
	font-size: 26px;
	background-color: red;
	border-style: solid;
	margin: 0px;
	width: 30%;
	float: right;

}

#content{
	background-color: black;
    width: 100%;/
    table-layout: fixed;
    border-spacing: 10px;
    
}

#content1,#content2,#content3{

	display: inline-block;
	background-color: #dbdbdb;
	border-style: solid;
	margin-left: 10px;
	margin-right: 10px;
	float: left;
	margin-top: 20px;
}


.texto{
	clear: right;
	margin: 0;
	padding: 15px;
}

@media (min-width: 992px){
	#content1,#content2,#content3{
		width: 30%;
	}	

}

@media (min-width: 767px) and (max-width: 991px){
	#content1,#content2{
		width: 45%;
	}
	#content3{
		width: 90%;
	}
}

@media (max-width:  766px){
	body{
		background-color: green;
	}
}