h1,h2{
	text-align: center;
}

@media (min-width: 992px){
	#content1,#content2,#content3{
		width: 33%;
	}	
}

@media (min-width: 767px) and (max-width: 991px){
	#content1,#content2{
		width: 50%;
	}
	#content3{
		width: 100%;
	}
}

@media (max-width:  766px){
	body{
		background-color: green;
	}
}